*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100%;
}
.navbar {
    background-color: black;
    padding: 1.2rem 5rem;
}
.navbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
#mycontent > ul{
    margin-left: auto;
}
#mycontent > ul > li:nth-child(n) > a{
    color: darkgray;
    font-size: 1rem;
    padding-right: 1.5rem;
}
#mycontent > ul > li:nth-child(1) > a{
    color: white;
}
#mycontent > ul > li:nth-child(n) > a:hover{
    color: white
}
#audiopro img{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
#lifestyle{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url(img3.jpg) no-repeat center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 9%;
}
#lifestyle .jumbotron{
    background: rgba(0,0,0,0.0001);
}
#lifestyle .jumbotron p{
    text-align: justify;
    font-size: 1.4rem;
}
#gallery{
    background-color: black;
}
#gallery .card{
    border: none;
    border-radius: 0;
    overflow: hidden; 
    margin: 0;
    padding: 0;
}
#gallery .card img{
    transition: transform .5s ease;
}
#gallery .card:hover img{
    transform: scale(1.2);
}
.page-footer .icons{
    text-decoration: none;
    color: rgb(17, 127, 163);
    font-size: 3.5rem;
}